<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="post-writer">
        <div class="post-home">
            <a href="/">
                <span>回首页</span>
            </a>
            <a href="/upload" title="上传" class="post-shang">
                <span>上传</span>
            </a>
        </div>
        <form action="" method="post">
            <div class="post-notebook">
                标题：
            </div>
            <input type="text" name="title" class="post-title">
            <div class="post-notebook">
                正文：
            </div>
            <textarea name="post" rows="27" cols="46" class="post-text">
        </textarea>
            <input type="submit" value="发表" class='post-fa'>
        </form>

    </div>
</body>

</html>