<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="req-main">
        <h4 class="req-title">
            <div class="req-normal">
                <a href="/login" title="登录" class="j-login">登录</a>
                <b>·</b>
                <a href="/reg" title="注册" class="j-req">注册</a>
            </div>
        </h4>
        <div class="req-container">
            <form action="" method="post" class="req-newuser">
                <div class="req-pretend1">
                    <input type="text" name="name" placeholder="你的昵称">
                    <img src="images/account.png" alt="">
                </div>
                <div class="req-pretend2">
                    <input type="email" name="email" placeholder="你的e-mail">
                    <img src="images/email.png" alt="">
                </div>
                <div class="req-pretend3">
                    <input type="password" name="password" placeholder="设置密码">
                    <img src="images/password.png" alt="">
                </div>
                <div class="req-pretend4">
                    <input type="password" name="password-repeat" placeholder="确认密码">
                    <img src="images/password.png" alt="">
                </div>
                <input type="submit" value="注册" class="req-signup">
                <p class="req-msg">
                    点击 “注册” 即表示您同意并愿意遵守简书
                    <br>用户协议和隐私政策
                </p>
            </form>
            <div class="req-more">
                <h6>
                    社交账号直接注册
                </h6>
                <ul>
                    <li>
                        <div class="weibo">
                            <img src="images/xinlang.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="weixin">
                            <img src="images/weixin.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="qq">
                            <img src="images/qq.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>